


<div class="main" >

  <div style="width: 45px;"><ul class="navbar-nav ms-auto">
    <li class="nav-item">
      <a class="nav-link" href="/home" style="color: cornsilk; size: 10px;font-family:papyrus;">Home</a>
    </li></ul></div>


  <h3 style="text-align: center; color: beige; font-family:papyrus;">The four Houses of Hogwarts
  </h3>

  <div>
  <div class="grif" style="float: left;">
    <div class="card" style="height: 100%; width: 100%;align-items: center;"><div class="gryf-hov">
      <img class="card-img-top" src="../../assets/grif.png" style="height: 200px;width: 200px; " >
      <div class="card-body" style="height: 150px;" >
        <p class="h3" style="font-family:papyrus;">Gryffindor</p>
        <p class="card-text" style="font-family:papyrus;">Gryffindor valued bravery, daring, nerve, and chivalry.Its emblematic animal was the lion</p>
      </div></div>
    </div>
  </div>



  <div class="sly" style="float: left;"> 
  
    <div class="card" style="height: 100%; width: 100%;align-items: center;"><div class="sly-hov">
      <img class="card-img-top" src="../../assets/sly.png" style="height: 200px;width: 200px; " >
      <div class="card-body" style="height: 150px;">
        <p class="h3" style="font-family:papyrus;">Slytherin</p>
        <p class="card-text" style="font-family:papyrus;" >Slytherin valued ambition, leadership, self-preservation, cunning and resourcefulness and was founded by Salazar Slytherin.Its emblematic animal was the serpent.</p>
      </div></div>
    </div>
  
  </div>
</div>

<meta>
  <div class="huf" style="float: left;">
  
    <div class="card" style="height: 100%; width: 100%;align-items: center;"><div class="huf-hov">
      <img class="card-img-top" src="../../assets/huff.png" style="height: 200px;width: 200px; " >
      <div class="card-body" style="height: 150px;">
        <p class="h3" style="font-family:papyrus;">Hufflepuff</p>
        <p class="card-text" style="font-family:papyrus;">Hufflepuff valued hard work, dedication, patience, loyalty, and fair play. Its emblematic animal was the badger.</p>
      </div></div>
  
  </div></div>



  <div class="rav" style="float: left;"> 
  
    <div class="card" style="height: 100%; width: 100%;align-items: center;"><div class="rav-hov">
      <img class="card-img-top" src="../../assets/raven.png" style="height: 200px;width: 200px; " >
      <div class="card-body" style="height: 150px;" >
        <p class="h3" style="font-family:papyrus;">Ravenclaw</p>
        <p class="card-text" style="font-family:papyrus;">Ravenclaw valued intelligence, knowledge, curiosity, creativity and wit. Its emblematic animal was the eagle.</p>
      </div></div>
  
    </div>

  </div>