
body {
    background-color: rgb(22, 25, 43)
}

div.right{
    position: absolute;
    right: 50px;
    top: 14px;
    
  
}
ul{
  font-family:papyrus;
}

.navbar-text {
    font-family: monospace;
}
.bg-custom {
    background-color: rgb(22, 25, 43);
}
.custom-h1 {
    font-family: 'Bungee Spice', cursive;
    font-weight: 500;
    color: #ffff;
    font-size: 380%;
    padding-top: 4rem;
}

.custom-p {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-family: 'Catamaran', sans-serif;
    font-size: 120%;
    padding-bottom: 1rem;
}

.home-el {
    background-color: rgb(22, 25, 43);
    padding-top: 9rem;
    padding-bottom: 9rem;
}



.lt-footer {
    font-family: 'Bungee Spice', cursive;
    padding-top: 2rem;
    background-color: rgb(22, 25, 43);
}